Repository Euphoria-Solutions/forexplore, pull requests merged in 2024-03, with the labels that each got.

#82 feat(front-end): landing Page
  .github/workflows/preview.yml
  projects/front/app/features/page.tsx
  projects/front/app/layout.tsx
  projects/front/app/page.tsx
  projects/front/app/sign-in/page.tsx
  projects/front/app/sign-up/page.tsx
  projects/front/components/box.tsx
  projects/front/components/landing-page/footer.tsx
  projects/front/components/landing-page/free-payment-content.tsx
  projects/front/components/landing-page/get-started.tsx
  projects/front/components/landing-page/hidden-info.tsx
  projects/front/components/landing-page/nav-bar.tsx
  projects/front/components/landing-page/paid-content.tsx
  projects/front/components/landing-page/partner-mid-scroll.tsx
  projects/front/components/landing-page/payment.tsx
  projects/front/components/landing-page/update-info.tsx
  projects/front/components/landing-page/why-it-works.tsx
  projects/front/components/layouts/main-layout.tsx
  projects/front/components/text.tsx
  projects/front/next.config.mjs
  projects/front/package.json
  projects/front/postcss.config.js
  projects/front/providers/data-provider.tsx
  projects/front/public/background/Rectangle 8.png
  projects/front/public/background/background.svg
  projects/front/public/background/image 1.png
  projects/front/public/background/landing-background.svg
  projects/front/public/background/landing-page-bg.png
  projects/front/public/icons/decorator.svg
  projects/front/public/icons/facebook-icon.svg
  projects/front/public/icons/gov2.svg
  projects/front/public/icons/gov3.png
  projects/front/public/icons/government-icon.svg
  projects/front/public/icons/gr2.svg
  projects/front/public/icons/gr3.svg
  projects/front/public/icons/growth-icon.svg
  projects/front/public/icons/instagram-icon.svg
  projects/front/public/icons/lantern.svg
  projects/front/public/icons/partner-image.svg
  projects/front/public/icons/student-icon.svg
  projects/front/public/icons/yes-white.svg
  projects/front/public/icons/yes.svg
  projects/front/public/info-picture/pic.svg
  projects/front/public/logo/logo.svg
  projects/front/public/logo/logo1.svg
  projects/front/tailwind.config.ts
  projects/front/yarn.lock
Labels: front-end

#83 feat: sign in and sign up
  projects/front/app/sign-in/page.tsx
  projects/front/app/sign-up/page.tsx
  projects/front/components/box.tsx
  projects/front/components/input.tsx
  projects/front/components/landing-page/get-started.tsx
  projects/front/components/sign-inup/hide-button.tsx
  projects/front/components/sign-inup/sign-in-component.tsx
  projects/front/components/sign-inup/sign-in-with-google.tsx
  projects/front/components/sign-inup/sign-up-component.tsx
  projects/front/postcss.config.js
  projects/front/public/sign-inup/Giphy Image 1.png
  projects/front/public/sign-inup/google-logo.svg
  projects/front/public/sign-inup/logo.svg
  projects/front/public/sign-inup/picture.png
Labels: front-end

#85 feat(gui): implemented GUI core functions
  projects/back/src/graphql/types.ts
  projects/back/src/pages/api/graphql.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/user.ts
  projects/front/components/layouts/main-layout.tsx
  projects/gui/.eslintignore
  projects/gui/.eslintrc.json
  projects/gui/.gitignore
  projects/gui/app/api/file/route.ts
  projects/gui/app/home/page.tsx
  projects/gui/app/layout.tsx
  projects/gui/app/page.tsx
  projects/gui/components/layouts/main-layout.tsx
  projects/gui/ea-scripts/mac/mt5.mq5
  projects/gui/electron.d.ts
  projects/gui/graphql/index.ts
  projects/gui/graphql/login.ts
  projects/gui/graphql/verify-token.ts
  projects/gui/icons/icon.ico
  projects/gui/main/main.js
  projects/gui/main/preload.js
  projects/gui/next.config.mjs
  projects/gui/package.json
  projects/gui/providers/index.ts
  projects/gui/providers/user.tsx
Labels: back-end, GUI

#89 feat(back-end): import Trade History
  .github/workflows/preview.yml
  projects/back/src/graphql/types.ts
  projects/back/src/models/forex-account.ts
  projects/back/src/models/index.ts
  projects/back/src/models/trade.ts
  projects/back/src/resolvers/forex-account.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/trade.ts
Labels: back-end

#96 feat(back-end): simple Analysis based on Trade History
  projects/back/.eslintrc.json
  projects/back/src/graphql/types.ts
  projects/back/src/models/forex-account.ts
  projects/back/src/models/statistics.ts
  projects/back/src/models/trade.ts
  projects/back/src/resolvers/forex-account.ts
  projects/back/src/resolvers/trade.ts
Labels: back-end

#103 feat(back-end): added Additional Chart Analysis
  projects/back/codegen.yml
  projects/back/src/graphql/analysis.ts
  projects/back/src/graphql/auth.ts
  projects/back/src/graphql/index.ts
  projects/back/src/graphql/trade.ts
  projects/back/src/graphql/types.ts
  projects/back/src/graphql/user.ts
  projects/back/src/helper/analysis/get-growth.ts
  projects/back/src/helper/analysis/get-session.ts
  projects/back/src/helper/analysis/get-top-pairs.ts
  projects/back/src/helper/analysis/index.ts
  projects/back/src/helper/analysis/update-forex-account.ts
  projects/back/src/helper/analysis/update-statistics.ts
  projects/back/src/helper/common/current-week.ts
  projects/back/src/helper/common/index.ts
  projects/back/src/helper/common/mailer.ts
  projects/back/src/helper/common/otp-generator.ts
  projects/back/src/helper/index.ts
  projects/back/src/models/forex-account.ts
  projects/back/src/models/index.ts
  projects/back/src/models/statistics.ts
  projects/back/src/models/trade.ts
  projects/back/src/pages/api/graphql.ts
  projects/back/src/resolvers/analysis/advanced.ts
  projects/back/src/resolvers/analysis/basic.ts
  projects/back/src/resolvers/analysis/index.ts
  projects/back/src/resolvers/forex-account.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/otp.ts
  projects/back/src/resolvers/trade.ts
  projects/back/src/resolvers/user.ts
Labels: back-end

#104 feat(back-end): implemented Trade Planning Feature
  projects/back/.eslintrc.json
  projects/back/src/graphql/auth.ts
  projects/back/src/graphql/trade.ts
  projects/back/src/graphql/user.ts
  projects/back/src/helper/analysis/update-statistics.ts
  projects/back/src/models/index.ts
  projects/back/src/models/plan.ts
  projects/back/src/models/trade-plan.ts
  projects/back/src/models/trade.ts
  projects/back/src/models/user-plan.ts
  projects/back/src/models/user.ts
  projects/back/src/pages/api/graphql.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/trade-plan.ts
  projects/back/src/resolvers/trade.ts
  projects/back/src/resolvers/user-plan.ts
Labels: back-end

#107 feat(back-end): back-End Cleanup
  projects/back/src/graphql/user.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/user.ts
Labels: back-end

#109 feat(front-end): linked Login / Sign-Up Page Backend to Frontend
  projects/back/src/pages/api/graphql.ts
  projects/front/.eslintrc.json
  projects/front/app/layout.tsx
  projects/front/components/common/box.tsx
  projects/front/components/common/index.ts
  projects/front/components/common/input.tsx
  projects/front/components/common/text.tsx
  projects/front/components/index.ts
  projects/front/components/landing-page/footer.tsx
  projects/front/components/landing-page/free-payment-content.tsx
  projects/front/components/landing-page/get-started.tsx
  projects/front/components/landing-page/hidden-info.tsx
  projects/front/components/landing-page/index.ts
  projects/front/components/landing-page/nav-bar.tsx
  projects/front/components/landing-page/paid-content.tsx
  projects/front/components/landing-page/partner-mid-scroll.tsx
  projects/front/components/landing-page/payment.tsx
  projects/front/components/landing-page/update-info.tsx
  projects/front/components/landing-page/why-it-works.tsx
  projects/front/components/layouts/main-layout.tsx
  projects/front/components/sign-inup/hide-button.tsx
  projects/front/components/sign-inup/index.ts
  projects/front/components/sign-inup/sign-in-component.tsx
  projects/front/components/sign-inup/sign-in-with-google.tsx
  projects/front/components/sign-inup/sign-up-component.tsx
  projects/front/graphql/index.ts
  projects/front/graphql/mutations/index.ts
  projects/front/graphql/mutations/login.ts
  projects/front/graphql/mutations/sign-up.ts
  projects/front/graphql/mutations/verify-token.ts
  projects/front/helper/check-password-strength.ts
  projects/front/helper/delay.ts
  projects/front/helper/index.ts
  projects/front/helper/notif-updater.ts
  projects/front/package.json
  projects/front/providers/auth-provider.tsx
  projects/front/providers/index.ts
  projects/front/tailwind.config.ts
Labels: front-end

#113 feat(front-end): made trades page
  .gitignore
  projects/back/.gitignore
  projects/front/.eslintrc.json
  projects/front/.gitignore
  projects/front/app/trades/page.tsx
  projects/front/components/trades-page/index.ts
  projects/front/components/trades-page/recent-trades.tsx
  projects/front/components/trades-page/search.tsx
  projects/front/components/trades-page/temp-data.ts
  projects/front/components/trades-page/trading-plan.tsx
  projects/front/components/trades-page/types.ts
  projects/front/package.json
  projects/front/public/icons/add.svg
  projects/front/public/icons/category.svg
  projects/front/public/icons/down-arrow.svg
  projects/front/public/icons/search-normal.svg
  projects/front/tailwind.config.ts
  projects/front/yarn.lock
Labels: front-end

#114 feat(front-end): Password Recovery Pages
  .gitignore
  projects/front/.gitignore
  projects/front/app/auth/forgot-pass/page.tsx
  projects/front/app/auth/sign-in/page.tsx
  projects/front/app/auth/sign-up/page.tsx
  projects/front/app/auth/update-pass/page.tsx
  projects/front/app/auth/verify/page.tsx
  projects/front/app/page.tsx
  projects/front/app/sign-in/page.tsx
  projects/front/app/sign-up/page.tsx
  projects/front/components/layouts/main-layout.tsx
  projects/front/components/layouts/navbar.tsx
  projects/front/components/sign-inup/hide-button.tsx
  projects/front/public/pass-recovery/go-back.tsx
  projects/front/public/pass-recovery/hide-pass.tsx
  projects/front/public/pass-recovery/index.ts
  projects/front/public/pass-recovery/show-pass.tsx
  projects/front/public/sign-inup/logo.tsx
  projects/front/public/sign-inup/show-pass.tsx
  projects/front/yarn.lock
Labels: front-end

#117 feat(front-end): linked Additional Auth Pages
  projects/back/src/graphql/auth.ts
  projects/back/src/middleware/index.ts
  projects/back/src/middleware/is-user-has-token.ts
  projects/back/src/pages/api/graphql.ts
  projects/back/src/resolvers/otp.ts
  projects/front/app/auth/forgot-pass/page.tsx
  projects/front/app/auth/sign-in/page.tsx
  projects/front/app/auth/sign-up/page.tsx
  projects/front/app/auth/update-pass/page.tsx
  projects/front/app/auth/verify/page.tsx
  projects/front/app/features/page.tsx
  projects/front/app/page.tsx
  projects/front/components/common/box.tsx
  projects/front/components/layouts/main-layout.tsx
  projects/front/components/sign-inup/index.ts
  projects/front/components/sign-inup/sign-in-component.tsx
  projects/front/components/sign-inup/sign-up-component.tsx
  projects/front/graphql/index.ts
  projects/front/graphql/lib/apollo-client.ts
  projects/front/graphql/lib/index.ts
  projects/front/graphql/mutations/check-otp-for-forget-password.ts
  projects/front/graphql/mutations/index.ts
  projects/front/graphql/mutations/send-otp-for-forget-password.ts
  projects/front/graphql/mutations/update-password.ts
  projects/front/helper/notif-updater.ts
  projects/front/providers/auth-provider.tsx
Labels: back-end, front-end
