Repository Euphoria-Solutions/forexplore, pull requests merged in 2024-02, with the labels that each got.

#16 test: protected branch test
  package.json
Labels: management

#18 test: pull request test
  package.json
Labels: management

#20 feat(management): added and configured Commitizen (CZ)
  .gitignore
  front/.husky/commit-msg
  front/.husky/pre-commit
  package.json
Labels: management

#22 fix(management): tested CZ performance
  package.json
Labels: management

#23 feat(management): changed folder structure
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  projects/front/.eslintignore
  projects/front/.eslintrc.json
  projects/front/.gitignore
  projects/front/.prettierrc.json
  projects/front/README.md
  projects/front/app/layout.tsx
  projects/front/app/page.tsx
  projects/front/components/box.tsx
  projects/front/components/index.ts
  projects/front/components/input.tsx
  projects/front/components/layouts/index.ts
  projects/front/components/layouts/main-layout.tsx
  projects/front/components/text.tsx
  projects/front/next.config.mjs
  projects/front/package.json
  projects/front/postcss.config.js
  projects/front/styles/globals.css
  projects/front/tailwind.config.ts
  projects/front/tsconfig.json
Labels: management

#25 docs(managament): wrote documentation of front-end
  .husky/prepare-commit-msg
  docs/how_to_contribute.md
  docs/how_to_work_in_frontend.md
  package.json
Labels: management

#60 feat(back-end): Setup Backend Projet
  .github/workflows/preview.yml
  .husky/pre-commit
  docs/commit_message_rules.md
  projects/back/.eslintignore
  projects/back/.eslintrc.json
  projects/back/.gitignore
  projects/back/.prettierrc.json
  projects/back/codegen.yml
  projects/back/index.d.ts
  projects/back/next-env.d.ts
  projects/back/next.config.js
  projects/back/package.json
  projects/back/src/graphql/types.ts
  projects/back/src/models/index.ts
  projects/back/src/pages/api/graphql.ts
  projects/back/src/pages/index.tsx
  projects/back/src/resolvers/index.ts
  projects/back/tsconfig.json
  projects/back/tsconfig.spec.json
Labels: back-end

#68 feat(backend and frontend): deployment Stages
  .github/workflows/preview.yml
  package.json
  projects/back/.gitignore
  projects/back/next.config.js
  projects/back/package.json
  projects/back/src/pages/api/graphql.ts
  projects/back/src/pages/index.tsx
  projects/front/.gitignore
  projects/front/.vercel/project.json
  projects/front/app/page.tsx
  projects/front/components/layouts/main-layout.tsx
  projects/front/components/text.tsx
  projects/front/next.config.mjs
  projects/front/package.json
Labels: back-end, front-end

#71 feat(front-end): authentication
  projects/back/next.config.js
  projects/back/package.json
  projects/back/src/graphql/types.ts
  projects/back/src/helper/index.ts
  projects/back/src/helper/otp-generator.ts
  projects/back/src/models/index.ts
  projects/back/src/models/user.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/otp.ts
  projects/back/src/resolvers/user.ts
Labels: back-end

#76 feat(back-end): user Plan CRUD & Middleware function setup
  projects/back/next.config.js
  projects/back/package.json
  projects/back/src/graphql/types.ts
  projects/back/src/models/index.ts
  projects/back/src/models/user-plan.ts
  projects/back/src/models/user.ts
  projects/back/src/pages/api/graphql.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/otp.ts
  projects/back/src/resolvers/user-plan.ts
  projects/back/src/resolvers/user.ts
Labels: back-end

#77 feat(back-end): user Management
  projects/back/package.json
  projects/back/src/graphql/types.ts
  projects/back/src/helper/index.ts
  projects/back/src/helper/mailer.ts
  projects/back/src/middleware/index.ts
  projects/back/src/middleware/is-email-verified.ts
  projects/back/src/middleware/is-user-not-blocked.ts
  projects/back/src/models/user.ts
  projects/back/src/pages/api/graphql.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/otp.ts
  projects/back/src/resolvers/user-management.ts
  projects/back/src/resolvers/user.ts
Labels: back-end

#80 feat(gui): GUI SETUP
  .husky/pre-commit
  projects/gui/.eslintignore
  projects/gui/.eslintrc.json
  projects/gui/.gitignore
  projects/gui/.prettierrc.json
  projects/gui/README.md
  projects/gui/app/layout.tsx
  projects/gui/app/page.tsx
  projects/gui/components/box.tsx
  projects/gui/components/index.ts
  projects/gui/components/input.tsx
  projects/gui/components/layouts/index.ts
  projects/gui/components/layouts/main-layout.tsx
  projects/gui/components/text.tsx
  projects/gui/main/main.js
  projects/gui/main/preload.js
  projects/gui/next.config.mjs
  projects/gui/package.json
  projects/gui/postcss.config.js
  projects/gui/styles/globals.css
  projects/gui/tailwind.config.ts
  projects/gui/tsconfig.json
Labels: GUI
