Repository Euphoria-Solutions/forexplore, pull requests merged in 2024-04, with the labels that each got.

#119 feat(front-end): linked Verify Email Page Backend
  projects/back/src/graphql/auth.ts
  projects/back/src/resolvers/user.ts
  projects/front/app/auth/sign-in/page.tsx
  projects/front/app/auth/sign-up/page.tsx
  projects/front/app/auth/verify/page.tsx
  projects/front/app/features/page.tsx
  projects/front/components/layouts/main-layout.tsx
  projects/front/graphql/mutations/index.ts
  projects/front/graphql/mutations/otp.ts
  projects/front/providers/auth-provider.tsx
Labels: back-end, front-end

#120 feat(frontend): added settings page's import section
  projects/front/app/settings/page.tsx
  projects/front/components/settings-page/index.ts
  projects/front/components/settings-page/upload-animation.tsx
  projects/front/package.json
  projects/front/public/lotties/uploadAnimation.json
  projects/front/tailwind.config.ts
Labels: front-end

#124 feat(front-end): implemented deleting and other features to trades page
  projects/front/app/trades/page.tsx
  projects/front/components/trades-page/delete-modal.tsx
  projects/front/components/trades-page/index.ts
  projects/front/components/trades-page/recent-trades.tsx
  projects/front/components/trades-page/trading-plan.tsx
  projects/front/components/trades-page/types.ts
  projects/front/public/icons/close-icon.tsx
  projects/front/public/icons/index.ts
  projects/front/public/icons/save.svg
  projects/front/public/icons/trash-icon.tsx
Labels: front-end

#123 feat(front-end): linked Trade History Import Pages Backend
  projects/back/src/graphql/trade.ts
  projects/back/src/helper/analysis/update-forex-account.ts
  projects/back/src/models/trade.ts
  projects/back/src/resolvers/forex-account.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/trade.ts
  projects/front/.eslintrc.json
  projects/front/app/settings/page.tsx
  projects/front/graphql/lib/apollo-client.ts
  projects/front/graphql/mutations/import-trade-history.ts
  projects/front/graphql/mutations/index.ts
Labels: back-end, front-end

#127 feat(front-end): added visual for uploaded file
  projects/front/app/settings/page.tsx
  projects/front/public/icons/down-arrow.tsx
  projects/front/public/icons/index.ts
  projects/front/public/icons/pdf-icon.tsx
  projects/front/tailwind.config.ts
Labels: front-end

#130 126 trades page
  projects/back/src/graphql/analysis.ts
  projects/back/src/graphql/trade.ts
  projects/back/src/helper/analysis/update-statistics.ts
  projects/back/src/models/plan.ts
  projects/back/src/models/trade-plan.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/trade-plan.ts
  projects/front/app/auth/verify/page.tsx
  projects/front/app/dashboard/trades/page.tsx
  projects/front/components/layouts/main-layout.tsx
  projects/front/components/trades-page/add-plan-modal.tsx
  projects/front/components/trades-page/delete-modal.tsx
  projects/front/components/trades-page/edit-plan-modal.tsx
  projects/front/components/trades-page/index.ts
  projects/front/components/trades-page/plan.tsx
  projects/front/components/trades-page/recent-trade.tsx
  projects/front/components/trades-page/recent-trades.tsx
  projects/front/components/trades-page/search.tsx
  projects/front/components/trades-page/temp-data.ts
  projects/front/components/trades-page/trading-plan.tsx
  projects/front/components/trades-page/types.ts
  projects/front/components/trades-page/use-scroll.ts
  projects/front/graphql/index.ts
  projects/front/graphql/lib/apollo-client.ts
  projects/front/graphql/mutations/add-plan.ts
  projects/front/graphql/mutations/change-trading-plans-order.ts
  projects/front/graphql/mutations/create-trading-plan.ts
  projects/front/graphql/mutations/delete-trading-plan.ts
  projects/front/graphql/mutations/edit-plan.ts
  projects/front/graphql/mutations/edit-trading-plan.ts
  projects/front/graphql/mutations/index.ts
  projects/front/graphql/mutations/link-plan-to-trade.ts
  projects/front/graphql/mutations/remove-plan.ts
  projects/front/graphql/mutations/unlink-plan-from-trade.ts
  projects/front/graphql/mutations/upload-trade-plans.ts
  projects/front/graphql/queries/get-trade-plans.ts
  projects/front/graphql/queries/get-trades.ts
  projects/front/graphql/queries/index.ts
  projects/front/package.json
  projects/front/public/icons/category-icon.tsx
  projects/front/public/icons/category.svg
  projects/front/public/icons/index.ts
  projects/front/public/icons/more-icon.tsx
Labels: back-end, front-end

#136 feat(front-end): implemented Settings Page with Backend
  projects/back/src/graphql/auth.ts
  projects/back/src/helper/analysis/get-growth.ts
  projects/back/src/resolvers/forex-account.ts
  projects/back/src/resolvers/index.ts
  projects/back/src/resolvers/user.ts
  projects/front/app/auth/sign-in/page.tsx
  projects/front/app/dashboard/trades/page.tsx
  projects/front/app/settings/page.tsx
  projects/front/components/analytics/side-bar-button.tsx
  projects/front/components/common/dropdown.tsx
  projects/front/components/dashboard/order/order.tsx
  projects/front/components/dashboard/pair-analysis/pair-analysis.tsx
  projects/front/components/dashboard/session/session-analysis.tsx
  projects/front/components/layouts/header.tsx
  projects/front/components/settings-page/account-settings.tsx
  projects/front/components/settings-page/index.ts
  projects/front/components/settings-page/login-security.tsx
  projects/front/components/settings-page/trade-import.tsx
  projects/front/graphql/mutations/change-password.ts
  projects/front/graphql/mutations/index.ts
  projects/front/graphql/mutations/remove-forex-account.ts
  projects/front/graphql/mutations/update-user-details.ts
  projects/front/graphql/queries/get-users.ts
  projects/front/graphql/queries/index.ts
  projects/front/styles/globals.css
  projects/front/tailwind.config.ts
Labels: back-end, front-end

#137 feat(front-end): linked Analytics Page Backend
  projects/back/src/graphql/analysis.ts
  projects/back/src/graphql/trade.ts
  projects/back/src/helper/analysis/get-top-pairs.ts
  projects/back/src/helper/analysis/update-statistics.ts
  projects/back/src/helper/common/current-week.ts
  projects/back/src/models/statistics.ts
  projects/back/src/resolvers/analysis/advanced.ts
  projects/back/src/resolvers/analysis/basic.ts
  projects/front/app/dashboard/analytics/page.tsx
  projects/front/app/dashboard/trades/page.tsx
  projects/front/components/analytics/bar-chart.tsx
  projects/front/components/analytics/linear-diagram.tsx
  projects/front/components/analytics/pie-diagram.tsx
  projects/front/components/analytics/straight-line-diagram.tsx
  projects/front/components/common/chart-modal.tsx
  projects/front/components/dashboard/order/order-chart.tsx
  projects/front/components/dashboard/order/order.tsx
  projects/front/components/dashboard/pair-analysis/pair-analysis.tsx
  projects/front/components/dashboard/session/session-analysis.tsx
  projects/front/components/settings-page/trade-import.tsx
  projects/front/graphql/queries/analytics/get-balance-analysis.ts
  projects/front/graphql/queries/analytics/get-pl-analysis.ts
  projects/front/graphql/queries/analytics/get-total-trades-analysis.ts
  projects/front/graphql/queries/analytics/get-winrate-analysis.ts
  projects/front/graphql/queries/analytics/index.ts
  projects/front/graphql/queries/index.ts
  projects/front/helper/get-week-range.ts
  projects/front/helper/index.ts
Labels: back-end, front-end

#138 fix(front-end): fixed some bugs && change forex accounts
  projects/back/src/resolvers/analysis/advanced.ts
  projects/front/app/dashboard/trades/page.tsx
  projects/front/components/common/dropdown.tsx
  projects/front/components/dashboard/order/order.tsx
  projects/front/components/dashboard/pair-analysis/pair-analysis-card.tsx
  projects/front/components/dashboard/pair-analysis/pair-analysis.tsx
  projects/front/components/dashboard/session/session-analysis.tsx
  projects/front/components/dashboard/session/session-card.tsx
  projects/front/components/dashboard/session/session-line-chart.tsx
  projects/front/components/layouts/header.tsx
  projects/front/components/settings-page/account-settings.tsx
  projects/front/providers/auth-provider.tsx
Labels: bug, back-end, front-end
